---
layout: default
---
{% include patterns/banners/vimeo-banner.liquid title=site.data.home.banner.title img=site.data.home.banner.img %}
<section id="work">
  <h2 class="hidden">Work</h2>
  <div class="grid">
    {% for video in site.work %}
    {% if video.active == true %}
    <div class="unit [ xs-1 m-1-2 ] video-preview">
      <a class="block embed embed-16by9 video-player-link" href="#video-player" data-video-link="{{ video.vimeo }}" aria-label="Select to play the video created for {{ video.title }}">
        <img class="embed-item" src="{{ video.img }}" alt="">
        <h3 class="line-highlight absolute pin-c push-0 text-fff text-upper">{{ video.title }}</h3>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
