<nav id="{{ include.navId }}" class="{{ include.navClass }}" role="navigation">
  <ul class="list-group push-0">
    <li>
      <a href="/#work">Work</a>
    </li>
    <li>
      <a href="/#about">About</a>
    </li>
    <li>
      <a href="/behind-the-scenes">Behind the Scenes</a>
    </li>
    <li>
      <a href="/#contact">Contact</a>
    </li>
  </ul>
</nav>
