<header class="banner banner-bts" style="background-image: url('{{ include.img }}')">
  <div class="wrapper island">
    <p class="push-0">Behind the Scenes:</p>
    <h1 class="push-0 zetta text-upper">{{ include.title }}</h1>
  </div>
</header>
