<div class="vimeo-banner" data-video-link="{{ include.video }}" style="background-image: url('{{ include.img }}')">
  <div class="vimeo-banner-overlay">
    <div class="vimeo-banner-content">
      <strong class="yotta vimeo-banner-title block">{{ include.title }}</strong>
    </div>
    <div class="pin-cb scroller-wrap">
      <a class="reel-link text-upper inline-block" href="#video-player">Watch Reel</a>
      <a class="scroller inline-block" href="#work" aria-label="Select to view work samples.">
      </a>
    </div>
  </div>
</div>
